/* Custom HikeScore activity CSS */

.activity {
  height:300px;
  overflow:hidden;
  position:relative;

  .activity-image {
    position:absolute;
  }

  .activity-content {
    position:absolute
  }
  
}
