/* Custom Mapbox styling for HikeScore */
#map-container {
  #map {
    width:53.333%;
    height:650px;
  }
  #place-content {
    .map-activity-icon {
      img {
        height:30px;
        width:30px;
      }
    }
    .selected-activity {
      clear:both;
    }
  }
}
