#query {
  .input-container {
    position:relative;
    input {
      margin-bottom:0;
    }
    .progress {
      margin-top:0;
      position:absolute;
    }
  }
  .input-btn {
    margin-top:20px;
  }
}
