<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Take a HIKE</h1>
      <div class="row center">
        <h5 class="header col s12 light">Discover how hike-able your neighborhood is</h5>
      </div>
      <div class="row center">
        <input
          ng-model="zipCodeInput"
          class="landing-prompt"
          type="text"
          pattern="[0-9]*"
          maxlength="5"
          required name="zip"
          id="zip">
        </input>
        <a ng-click="getTrailData(zipCodeInput)" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        <span ng-show="geoData.address" class="ng-hide">{{geoData.address}}</span>
        <span ng-show="geoData.error" class="ng-hide">{{geoData.error}}</span>
      </div>
      <br><br>

    </div>
  </div>
  <div parallax><img src="img/background3.jpg" alt="Unsplashed background img 1"></div>
</div>
