<div class="featured-locations row">
    <h3 ng-if="stateRef === 'home'" class="center-align">Featured Locations</h3>
    <div ng-repeat="location in featuredLocations" class="col s12 l4">
        <div class="card">
            <div class="card-image">
                <img ng-src="{{location.thumbnail}}" alt="{{location.name}}"/>
                <span class="card-title background"><h5>{{location.name}}</h5></span>
            </div>
            <div class="card-content">
                <div class="score">
                    <span>HikeScore: </span>
                    <img
                      ng-src="img/icons/hike-score-logo.png"
                      ng-repeat="i in createRatingRepeat(location.rating) track by $index"/>
                </div>
                <p>
                    <a
                        href=""
                        ng-click="getTrailData(location.zip); clicked = true">
                        Discover hikes in {{location.name}}
                    </a>
                </p>
                <div ng-if="clicked" class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
    </div>
</div>
